# Python bytecode
__pycache__/
*.pyc

# Virtual environment
venv/
.env/
.conda

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and databases
*.log
*.sqlite3

# IDE and editor files
.vscode/
.idea/
*.swp

# Others
.DS_Store

# Pickle files (As they are large in size)
*.pkl
*.p
*.pt

# Local files and folders
x_rough.ipynb